@font-face {
    font-family: Avengers;
    src: url(./Fonts/AVENGEANCE\ HEROIC\ AVENGER\ BD.ttf) format(TrueType);
}
@font-face {
    font-family: CyberBank;
    src: url(./Fonts/SDCyberPunkCityDemo.otf) format(OpenType);
}
@font-face {
    font-family: Rovelink;
    src: url(./Fonts/Rovelink.otf) format(OpenType);
}
:root{
    --bg-color:#1f1f1f;
    --color:#ffffff;
    --Avengers:Avengers;
    --Rovelink:Rovelink;
    --CyberBank:CyberBank;
    --Special-Color:#7700ff;
}
html{
    background-color: var(--bg-color);
    color: var(--color);
    font-family: system-ui, sans-serif;
    font-weight: 600;
    height: auto;
    scroll-behavior: smooth;
    height: auto;
}
html::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: var(--color);
}
.Header{
    display: flex;
    padding: 1px 20px;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    text-align: right;
    animation: GlassSlider ease both;
    animation-timeline: view(0% 100%);
    --Font-size:16px;
    top: 1%;
    width: 95%;
    z-index: 999;
}
h1.logo{
    color: var(--Special-Color);
    font-size: calc(var(--Font-size)*2.5);
    font-family: var(--Avengers);
}
ul.header{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    padding: 5px 20px;
}
.CyberBank{
    font-family: var(--CyberBank);
}
.Rovelink{
    font-family: var(--Rovelink);
}
@keyframes GlassSlider {
    from{
        position: fixed;
        justify-content: space-between;
        left: 1.1%;
        width: 95%;
        border-radius: 0rem;
        background-color: #313131;
        backdrop-filter: blur(0px);
        border-bottom: 1.5px solid var(--Special-Color);
    }
    to{
        position: fixed;
        width: 40%;
        left: 30%;
        top: 85%;
        justify-content: space-between;
        background-color: #31313125;
        backdrop-filter: blur(15px);
        border-radius: 1.5rem;
        border-bottom: none;
        --Font-size:10px;
    }
}
ul.header li{
    padding: 5px 8px;
    transition: all .3s ease;
    border-radius: 5px;
    font-size: calc(var(--Font-size)*0.8);
}
ul.header li:hover{
    scale: 1.1;
    background-color: var(--Special-Color);
    translate: 0px -3px;
}
.logo2{
    font-size: 25px;
    color: #a14eff;
    font-family: var(--Rovelink);
}
.CreatorName{
    font-size: 31px;
    color: var(--Special-Color);
    font-family: var(--Rovelink);
    font-weight: 900;
}
.Entro{
    text-align: center;
    margin: 13% 0;
}
.ButtonLike{
    padding: 7px 25px;
    padding-bottom: 8px;
    border-radius: 5rem;
    font-size: 12px;
    background-color: #7700ff33;
    border: .5px #7700ff solid;
    font-weight: 500;
}
.SecoundryFont{
    font-family: var(--CyberBank);
    white-space: 10px;
}
.Special-Button{
    padding: 10px 30px;
    border-radius: 3rem;
    border: 2px solid var(--Special-Color);
    background-color: var(--Special-Color);
    margin: 10px 20px;
    transition: all .3s ease;
    font-weight: 700;
    cursor: pointer;
}
.Special-Button.Outline{
    background-color: transparent;
}
.Special-Button:hover{
    background-color: transparent;
}
.Special-Button.Outline:hover{
    background-color: var(--Special-Color);
}
.Script{
    width: 30px;
    height: 30px;
    background-color: #0051ff;
    display: inline-block;
    position: relative;
}
.Script::before{
    content: "TS";
    color: white;
    position: absolute;
    bottom: -1px;
    font-size: 12px;
    right: 1px;
}
.Script.JS{
    background-color: #ffea00;
}
.Script.JS::before{
    content: "JS";
    color: black;
}
.SkillBARR{
    background-color: #303030;
    width: 22.5%;
    padding: 10px 20px;
    padding-bottom: 25px;
    border-radius: 1rem;
}
.Skillss{
    display: flex;
    width: 100%;
    gap: 5px;
}
.skill{
    padding: 3px 10px;
    border: 1px solid var(--Special-Color);
    border-radius: 3rem;
    font-size: 10px;
    cursor: pointer;
}
.SkillBars{
    width: 95%;
    display: flex;
    justify-content: start;
    gap: 50px;
}
.EXPe ,.Skills ,.About-Me ,.Projects{
    margin: 10% 0%;
    padding: 2% 5%;
    position: relative;
}
.Ciricle-Of-Year{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    background-color: var(--Special-Color);
}
.Pragraphof-EXP{
    background-color: #313131;
    line-height: 0.1px;
    padding: 5px 20px;
    border-radius: .7rem;
    margin-top: 0%;
    width: 80%;
}
.EXP{
    width: 100%;
    display: flex;
    gap: 50px;
}
.Pragraphof-EXP p{
    font-size: 12px;
    line-height: 16px;
    width: 80%;
    margin-top: -1%;
    margin-bottom: 2%;
}
.conencts{
    height: 150px;
    width: 3px;
    background-color: var(--Special-Color);
    position: absolute;
    left: 6.7%;
    top: 33%;
    z-index: -1;
}